/* Whole document: */
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11pt;
  }
  /* Headers */
  h1,h2{
    font-size: 16pt;
    color: Green;
  }
  h3{
    font-size: 14pt;
    color: Navy;
  }
  h6{
    font-size: 11pt;
    color: Black;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  h7{
    font-size: 11pt;
    color: #eeeeee;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold
  }

  h4,h5{
    font-size: 13pt;
    color: Black;
  }
  .panel-default > .panel-heading {
    color: white;
    background-color: darkslateblue;
    border: 0;
}
