/* Whole document: */
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11pt;
  }
  /* Headers */
  h1,h2,h3{
    font-size: 15pt;
  }

  h4,h5,h6{
    font-size: 12pt;
  }
  .panel-default > .panel-heading {
    color: white;
    background-color: darkslateblue;
    border: 0;
}